@import '../../../styles/variables';

.textInputArray {
  label {
    margin-bottom: 0.5rem;
    color: $field-label-color;
    line-height: 1.25rem;
    padding-left: 1px;
  }
  .borderOnNoText {
    box-shadow: inset 0px 4px 8px $field-focus-box-shadow-color;
    border: 0.5px solid $field-border-color !important;
    margin: 0.25rem;
  }
  .input {
    border: 1px solid transparent;
    border-radius: 0.187rem;
    padding: 0.625rem 0.55rem 0.75rem;
    width: 100%;
    color: $field-text-color;
    justify-content: space-between;
    max-height: 1.25rem;
    max-height: 6rem;
    overflow: auto;
    &:focus {
      box-shadow: inset 0px 4px 8px $field-focus-box-shadow-color;
      border: 0.5px solid $field-border-color !important;
      outline: none;
    }
    &::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: $field-placeholder-color;
    }
    &::-moz-placeholder {
      /* Firefox 19+ */
      color: $field-placeholder-color;
    }
    &:-ms-input-placeholder {
      /* IE 10+ */
      color: $field-placeholder-color;
    }
    &:-moz-placeholder {
      /* Firefox 18- */
      color: $field-placeholder-color;
    }
    &:disabled {
      cursor: not-allowed;
      background-color: $field-deactivate-color;
      &:hover {
        border-color: $field-border-color;
      }
    }
  }
}
