@import '../../styles/variables';

$load-more-btn-height: 2.678rem;
$no-data-message-background-color: var(--white);
$no-data-message-border-color: var(--black-30);

.loaderWrapper {
  // height of loader and load more button should be same to prevent UI flickering
  // since these the elements are shown and hidden at same time
  height: $load-more-btn-height;
}
.noData {
  background-color: $no-data-message-background-color;
  border-radius: 0.75rem;
  border: 0.5px solid $no-data-message-border-color;
}
